@import url("http://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");

*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
} 
*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    /* padding-top: 70px; */
    background-image: url(../images/body_bg.png);
    background-repeat: repeat-y;
    background-position:right;
    background-attachment:fixed
    /* 固定背景 */
}



/* 背景跟選單 */
.header-bg{
    width: 1200px;
    display: flex;
    margin: auto;
}
.header-bg img{
    width: 100%;
}

/* logo */
.header .logo{
    display: block;
    margin-left: 5%;
}
.header .logo img{
    width: 100px;;
}



/* header區 */
.header{
    width: 1200px;
}
.header .container{
    display: flex;
    padding: 6px 10px;
    background-color: #82cddb;
    width: 940px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50px;
    margin-top: 10px;
    z-index: 999;
    box-shadow:0px 2px 2px #daf9ff;
}



/* header選單區 */
/* 下拉式選單 */
.header nav{
    display: inline-block;
    text-align: right;
    width: 560px;
    font-size: 0;
    position: absolute;
    left: 430px;

 

}
.header nav a{
    display: inline-block;
    color: #6f7ea2;
    text-decoration: none;
    font-size: 16px;
    /* 選單置中 */
    line-height: 52px;

    padding: 0 10px;
    transition: .5s;
    font-weight: 900;

}
.header nav a:hover{
    transition: 0.6s;
    background-color: #fff;
    border-radius: 15px;

}
.header-nav li {
    white-space: nowrap;
    background-color: #82cddb;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.header-nav>li:last-child {
    border-right: 25px;
}
.header-nav > li{
    float: left;
    /* 只有第一層是靠左對齊*/
}
.header-nav ul{
    /*隱藏次選單*/
    display: none;
}

.header-nav li:hover > ul{
    /* 滑鼠滑入展開次選單*/
    display: block;
}








/* header背景圖 */
.banner img{
    width: 100%;
}




/* 麵包屑.path */
.path-wrap{
    padding: 10px 0;
    background-color: #fff0;
    /* 陰影 */
    box-shadow: 0px 5px 5px hsla(260,100% 20% 5);
}
.path{
    display: flex;
    width: 960px;
    margin: auto;
}
.path li{
    position: relative;
    padding: 0 20px;
}
.path li a{
    color: #6f7ea2;
    text-decoration: none;
    font-size: 14px;
}
.path li + li::before{
    /* 偽類 */
    content: '>';
    color: #6f7ea2;
    position: absolute;
    left: 0;
}
.path a:hover, .breadcrumb li:last-child a{
    color: #fff;
}
.path li:after{
    content: '';
    display: block;
    width: 0%;
    height: 1.5em;
    margin: 5px 0;
    background-color: #f19dae;
    transition: width .5s ;
    position: absolute;
    top: -8px;
    right: 0;
    left: 15px;
    bottom: 0;
    z-index: -1;

}
.path li:hover::after{
    width: 60%;
}






















/* footer */
.main-footer{
    padding: 30px 0 0;
    background:#82cddb;
}
.main-footer .container{
    display: flex;
    width: 1200px;
    margin: auto;
}
.main-footer .footer-item{
    width: 0;
    flex-grow: 1;
    margin: 0 20px;
}
.main-footer .footer-item h4{
    font-style: 24px;
    color: #6f7ea2;
    margin-bottom: .5em;
    padding-bottom: .5em;
}
.footer-item h4::before{
    content: '';
    width: 40px;
    height: 2px;

}
.main-footer .footer-item nav{
    display: flex;
    flex-direction: column;
}
.main-footer .footer-item nav a{
    color: #6f7ea2;
    line-height: 1.4;
    text-decoration: none;
    padding: 5px 0;
}
.main-footer .footer-item nav a:hover{
    color: #fff;
}

.main-footer .conpyright{
    width: 100%;
    margin: 50px 0 0;
    text-align: center;
    background-color: #fbca4d;
    color: #d19b7b;
    padding: 20px 0;
}
