@import url("http://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap");

*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
} 
*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}
body{
    /* padding-top: 70px; */
    background-image: url(../../images/body_bg.png);
    background-repeat: repeat-y;
    background-position:right;
    background-attachment:fixed
    /* 固定背景 */

}


/* 背景跟選單 */
.header-bg{
    width: 1200px;
    display: flex;
    margin: auto;
}
.header-bg img{
    width: 100%;
}

/* logo */
.header .logo{
    display: block;
    margin-left: 5%;
}
.header .logo img{
    width: 100px;;
}



/* header區 */
.header{
    width: 1200px;
}
.header .container{
    display: flex;
    padding: 6px 10px;
    background-color: #82cddb;
    width: 940px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50px;
    margin-top: 10px;
    z-index: 999;
    box-shadow:0px 2px 2px #daf9ff;
}




/* header選單區 */
/* 下拉式選單 */
.header nav{
    display: inline-block;
    text-align: right;
    font-size: 0;
    position: absolute;
    left: 450px;
}
.header nav a{
    display: inline-block;
    color: #6f7ea2;
    text-decoration: none;
    font-size: 16px;
    /* 選單置中 */
    line-height: 41px;
    width: 80px;
    padding: 0 10px;
    transition: .5s;
    font-weight: 900;

}
.header nav a:hover{
    color: #fff;

}
.header-nav li {
    white-space: nowrap;
    background-color: #82cddb;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.header-nav>li:last-child {
    border-right: 25px;
}
.header-nav > li{
    float: left;
    /* 只有第一層是靠左對齊*/
}
.header-nav ul{
    /*隱藏次選單*/
    display: none;
}

.header-nav li:hover > ul{
    /* 滑鼠滑入展開次選單*/
    display: block;
}


/* 麵包屑.path */
.path-wrap{
    padding: 10px 0;
    background-color: #fff0;
    /* 陰影 */
    box-shadow: 0px 5px 5px hsla(260,100% 20% 5);
}
.path{
    display: flex;
    width: 960px;
    margin: auto;
}
.path li{
    position: relative;
    padding: 0 20px;
}
.path li a{
    color: #6f7ea2;
    text-decoration: none;
    font-size: 14px;
}
.path li + li::before{
    /* 偽類 */
    content: '>';
    color: #6f7ea2;
    position: absolute;
    left: 0;
}
.path a:hover, .breadcrumb li:last-child a{
    color: #fff;
}
.path li:after{
    content: '';
    display: block;
    width: 0%;
    height: 1.5em;
    margin: 5px 0;
    background-color: #f19dae;
    transition: width .5s ;
    position: absolute;
    top: -8px;
    right: 0;
    left: 15px;
    bottom: 0;
    z-index: -1;

}
.path li:hover::after{
    width: 75%;
}




/* 介紹動物 */

.introduce-banner{
    width: 960px;
    margin: auto;
    padding: 40px 0 60px;
}
.introduce-banner .introduce > h2{
    width: 960px;
    font-size: 42px;
    font-weight: 900;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    color: #6f7ea2;
}

.introduce-banner .introduce > h4{
    width: 100%;
    margin: auto;
    padding: 20px 0px 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #6f7ea2;

}

.introduce-banner .wrap{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}
.introduce-banner .container-cow{
    width: 100%;
    margin: auto;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    box-shadow: 0 0 20px #ccc;
    overflow: hidden;
    background-image: url(../../images/about/about-cow.jpg) ;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position:100px 30px;
    border-radius: 25px;
    margin-bottom: 30px;
}
.introduce-banner .container-monkey{
    width: 100%;
    margin: auto;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    box-shadow: 0 0 20px #ccc;
    overflow: hidden;
    background-image: url(../../images/about/about-monky2.jpg) ;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position:100px 30px;
    border-radius: 25px;
    margin-bottom: 30px;
}
.introduce-banner .container-mouse{
    width: 100%;
    margin: auto;
    height: 250px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    box-shadow: 0 0 20px #ccc;
    overflow: hidden;
    background-image: url(../../images/about/about-mouse2.jpg) ;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position:100px 30px;
    border-radius: 25px;
    margin-bottom: 30px;
}

.introduce-banner .wrap h3{
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    font-size: 180px;
    padding-left: 15px;
    color: #6f7ea2;
    opacity: .3;
    position: absolute;
    left:-10px;
    top: -10px;
    line-height: 1em;
}
.introduce-banner .txt{
    width: 400px;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
    z-index: 1;
    font-size: 14px;
    font-weight: 900;
    line-height: 1.5em;


}
.introduce-banner .container .txt p{
    margin-bottom: 1em;
}



/* 猜猜看 */
.guess-banner-banner{
    width: 960px;
    margin: auto;
    padding: 40px 0 60px;
}
.guess-banner .guess > h2{
    width: 960px;
    font-size: 42px;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    font-weight: 900;
    color: #6f7ea2;
}

.guess-banner .guess > h4{
    width: 960px;
    margin: auto;
    padding: 20px 0px 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #6f7ea2;
}
.guess-banner .spin-pictxt{
    width: 100%;
    /* background-color: #faa; */
}
.guess-banner .spin-pictxt ul{
    width: 960px;
    margin: auto;
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left: -80px;
}
.guess-banner li{
    width: 200px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    margin: 0 60px 30px;
    position: relative;
    border-radius: 15%;
}
.guess-banner .spin-pictxt img{
    width: 100%;
    border-radius: 15%;
    transform: rotate(45deg);
    opacity: .5;
    transition: 1s;
}
.guess-banner .spin-pictxt img:hover{
    opacity: 1;
    transform: rotate(0deg);
}
.guess-banner p{
    font-size: 24px;
    text-align: center;
    margin: auto;
    font-weight: 700;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: 1;
    z-index: 1;

}

.guess-banner span{
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    position: absolute;
    width: 100;
    height: 50px;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 2;
}
.guess-banner li:hover span{
    display: block;
    z-index: 2;
}
.guess-banner .spin-pictxt li:hover p{
    z-index: -1;
}
.guess-banner li::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15%;
    transform: rotate(45deg);
    box-sizing: border-box;
    border: #fff 2px dashed;
    padding: 10px 10px;
    transition: 1s;
}
.guess-banner li:nth-child(n+4){
    left: 160px;
}
.guess-banner li:nth-child(n+7){
    left: 0px;
}
.box1{background-color: #fbca4d;}
.box2{background-color: #82cddb;}
.box3{background-color: #f19dae;}
.box4{background-color: #fbca4d;}
.box5{background-color: #82cddb;outline: 2px dashed #fff ; }
.box6{background-color: #f19dae;}
.box7{background-color: #fbca4d;}
.box8{background-color: #82cddb;outline: 2px dashed #fff ;}
.box9{background-color: #f19dae;}

.box1:hover{outline: 2px dashed #fbca4d ; background-color: transparent;}
.box2:hover{outline: 2px dashed #82cddb ; background-color: transparent;}
.box3:hover{outline: 2px dashed #f19dae ; background-color: transparent;}
.box4:hover{outline: 2px dashed #fbca4d ; background-color: transparent;}
.box5:hover{outline: 2px dashed #82cddb ; background-color: transparent;}
.box6:hover{outline: 2px dashed #f19dae ; background-color: transparent;}
.box7:hover{outline: 2px dashed #fbca4d ; background-color: transparent;}
.box8:hover{outline: 2px dashed #82cddb ; background-color: transparent;}
.box9:hover{outline: 2px dashed #f19dae ; background-color: transparent;}

.box5::before{outline: 2px dashed #82cddb ;}
.box8::before{background-color: #fff ;}
.box1:hover::before{background-color: #fbca4d;}
.box2:hover::before{background-color: #82cddb ;}
.box3:hover::before{background-color: #f19dae ;}
.box4:hover::before{background-color: #fbca4d;}
.box5:hover::before{background-color: #82cddb;}
.box6:hover::before{background-color: #f19dae ;}
.box7:hover::before{background-color: #fbca4d;}
.box8:hover::before{background-color: #82cddb ;}
.box9:hover::before{background-color: #f19dae ;}

.guess-banner li::before{
    outline: none ;
    z-index: -1;
}

/* footer */
.main-footer{
    padding: 30px 0 0;
    background:#82cddb;
}
.main-footer .container{
    display: flex;
    width: 1000px;
    margin: auto;
}
.main-footer .footer-item{
    width: 0;
    flex-grow: 1;
    margin: 0 20px;
}
.main-footer .footer-item h4{
    font-style: 24px;
    color: #6f7ea2;
    margin-bottom: .5em;
    padding-bottom: .5em;
}
.footer-item h4::before{
    content: '';
    width: 40px;
    height: 2px;

}
.main-footer .footer-item nav{
    display: flex;
    flex-direction: column;
}
.main-footer .footer-item nav a{
    color: #6f7ea2;
    line-height: 1.4;
    text-decoration: none;
    padding: 5px 0;
}
.main-footer .footer-item nav a:hover{
    color: #fff;
}
.main-footer .footer-subs{
    display: flex;
    flex-direction: column;
}
.main-footer .footer-subs form{
    display: flex;
    width: 100%;
    margin: auto 0px;
}
.main-footer .footer-subs input[type="text"], .footer-subs input    [type="submit"]{
    bottom: none;
    padding: 5px 10px;
}
.main-footer .footer-subs input[type="text"]{
    width: 0;
    flex-grow: 1;
    border-radius: 25px;
    margin-right: 10px;
}
.main-footer .footer-subs input[type="submit"]{
    color: #fff;
    background-color: #f19dae;
}

.main-footer .conpyright{
    width: 100%;
    margin: 50px 0 0;
    text-align: center;
    background-color: #fbca4d;
    color: #d19b7b;
    padding: 20px 0;
}





