/* 聯絡我們 */
.contact-banner{
    width: 960px;
    margin: auto;
    padding: 40px 0 60px;
}
.contact-banner .contact > h2{
    width: 960px;
    font-size: 42px;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    font-weight: 900;
    color: #6f7ea2;
}

.contact-banner .contact > p{
    width: 960px;
    margin: auto;
    padding: 20px 0px 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #6f7ea2;
}
.contact-banner .wrap{
    width: 960px;
    height: 600px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    /* border: 3px solid #fbca4d; */
    box-shadow: 0   0   60px #ddd;
    /* 毛玻璃 */
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.contact-banner .form{
    width: 400px;
    font-family: 'Noto Sans TC', sans-serif;

}

.contact-banner .form .group{
    margin-bottom: 20px;
}
.contact-banner .form label{
    line-height: 2em;
    font-family: 'Noto Sans TC', sans-serif;
    color: #6f7ea2;
    font-size: 16px;
    letter-spacing: 1px;

}
.contact-banner .form input{
    width: 100%;
    border: 1px solid #6f7ea2;
    line-height: 3;
    border-radius: 25px;
}
.contact-banner .form .txt{
    margin-bottom: 10px;
    font-size: 24px;
    color: #ffb805;
    font-weight: 400;
    letter-spacing: 1px;

}
.contact-banner .form .btn-group{
    font-size: 0;
    margin-top: 20px;
}
.contact-banner .form .btn{
    font-size: 18px;
    border: none;
    width: 80px;
    padding: 10px;
    margin-left: 20px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    border-radius: 25px;
    line-height: 1.5em;
    margin-top: auto;
    color: #f19dae;
    background-color: #fff;
    box-shadow:0px 0px 3px #f19dae;
    border: 1px solid #f19dae;
    float: right;
}
.contact-banner .form .btn:hover{
    background-color: #f19dae;
    color: #fff;
}
.contact-banner .form .btn + .btn{
    margin-left: 20px;
}
.contact-banner .group-check{
    column-count: 2;
    flex-wrap: wrap;
    line-height: 1.4em;
}
.contact-banner .group-check .check_box_label{
    line-height: 1;
    font-family: 'Noto Sans TC', sans-serif;
    color: #6f7ea2;
    letter-spacing: 1px;
}
.contact-banner .group-check .check_box_input{
    width: 10%;
    line-height: 3;
}

