/* 麵包屑.path============================================ */
.path-wrap{
    padding: 10px 0;
    background-color: #fff0;
    /* 陰影 */
    box-shadow: 0px 5px 5px hsla(260,100% 20% 5);
}
.path{
    display: flex;
    width: 960px;
    margin: auto;
}
.path li{
    position: relative;
    padding: 0 20px;
    width: 70px;
    text-align: center;
}
.path li a{
    color: #6f7ea2;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.path li + li::before{
    /* 偽類 */
    content: '>';
    color: #6f7ea2;
    position: absolute;
    left: 0;
}
.path a:hover{
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
.path li:after{
    content: '';
    display: block;
    width: 0%;
    height: 1.5em;
    margin: 5px 0;
    background-color: #fbca4d;
    transition: width .5s ;
    position: absolute;
    top: -8px;
    right: 0;
    left: 15px;
    bottom: 0;
    z-index: -1;
}
.path li:hover::after{
    width: 75%;
}



/* 新春報喜 */
/* 固定寬的容器,且一定置中 */

.happy-banner{
    width: 960px;
    margin: auto;
    padding: 40px 0 60px;
}
.happy-banner .happy > h2{
    width: 960px;
    font-size: 42px;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    font-weight: 900;
    color: #6f7ea2;
    font-family: tahoma;
}

.happy-banner .happy > p{
    width: 960px;
    margin: auto;
    padding: 20px 0px 20px;
    text-align: center;
    color: #6f7ea2;
    margin-bottom: 10px;
    font-family: tahoma;
}

.happy-banner .happy-group{
    display: flex;
    justify-content: center;
    align-items: center;
}
.happy-banner .container{
    perspective: 30rem;
}
.happy-banner .container .happy-txt{
font-size: 6rem;
font-family:Helvetica;
}
.happy-banner .container > div{
    display: block;
    height: 6rem;
    font-size: 6rem;
    overflow: hidden;
}
.happy-banner .container > div > span{
    display: block;
    height: 6rem;
    font-weight: bold;
    letter-spacing: -.2rem;
    text-align: center;
    transition: .5s transform ease-in-out;
}
.happy-banner .container:hover > div > span {
    transform: translateY(-100%);
}
.happy-banner .container > div:nth-child(1){
    background-color: rgba(0, 0, 0 , .02);
    transform: rotateX(30deg);
}
.happy-banner .container > div:nth-child(2){
    background-color: rgba(0, 0, 0 , .08);
    transform: translateY(-.5rem) rotateX(-30deg);
}
.happy-banner .container > div:nth-child(3){
    background-color: rgba(0, 0, 0 , .02);
    transform: translateY(-1rem) rotateX(30deg);
}
.happy-banner .container > div:nth-child(4){
    background-color: rgba(0, 0, 0 , .08);
    transform: translateY(-1.5rem) rotateX(-30deg);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.happy-banner .container > div:nth-child(odd){
    color: #82cddb;
}
.happy-banner .container > div:nth-child(even){
    color: #fbca4d;
}
.happy-banner .container:hover > div:nth-child(odd){
    color: #fbca4d;
}
.happy-banner .container:hover > div:nth-child(even){
    color: #82cddb;
}






/* 牧場攻略 */
.raiders-banner{
    width: 960px;
    margin: auto;
    padding: 40px 0 60px;
}
.raiders-banner .raiders > h2{
    width: 960px;
    font-size: 42px;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    font-weight: 900;
    color: #6f7ea2;
}

.raiders-banner .raiders > p{
    width: 960px;
    margin: auto;
    padding: 20px 0px 20px;
    text-align: center;
    color: #6f7ea2;
    margin-bottom: 10px;
    font-family: tahoma;
}
.raiders-banner .wrap{
    width: 100%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}
.raiders-banner .item{
    width: 300px;
    margin: 10px;
    text-align: center;
    background-color: #fff;
    border: 1px solid#6f7ea2;
    /* 做動態 */
    transform: translateY(0px);
    box-sizing: border-box;
    margin-bottom: 5%;
    border-radius: 25px;

}
.raiders-banner .item img{
    width: 100%;
    /* 基線 */
    vertical-align: middle;
    border-radius: 25px;
}
.raiders-banner .item h3{
    border-bottom: 1px solid #6f7ea2;
    padding-bottom: .3em;
    margin-bottom: .4em;
    /* 字體粗細 */
    font-weight: 900;
    color: #fbca4d;
    font-size: 28px;
    font-weight: 900;
    transition: .5s;

}

.raiders-banner .item p{
    line-height: 1.6;
    font-weight: 300;
    transition: .5s;
    text-align: left;
}
.raiders-banner .item:hover{
background-color: #fbca4d;
}
.raiders-banner .item .txt{
    padding: 20px;
    position: relative;
    color: #6f7ea2;
    border-radius: 25px;
}
.raiders-banner .item .txt span{
    font-size: 18px;
    font-weight: 700;
}
.raiders-banner .item .txt::before{
    content: '';
    width: 0;
    height: 0;
    /* 三角形可以用邊框線做 */
    border-top: 60px solid transparent;
    border-left: 149px solid #fff;
    border-right: 149px solid #fff;
    /* before定位在txt裡面 */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /* 調整Y軸心 */
    transform: translateY(-100%);
    transition: .5;
}
.raiders-banner .item:hover .txt:before{
    border-left: 149px solid #fbca4d;
    border-right: 149px solid #fbca4d;
}

.raiders-banner .item:hover{
    /* 滑鼠觸碰到之後會彈跳起來 */
    transform: translateY(-20px);
}
/* 滑鼠觸碰後文字背景會產生漸層 */
.raiders-banner .item:hover .txt{
    background-color: #fbca4d;
}

/* 滑鼠觸碰後文字會產生效果 */
.raiders-banner .item:hover h3{
    color: #fff;
    border-bottom-color: #fff;
}
.raiders-banner .item:hover p{
    color: #fff;
}
.raiders-banner .item .btn{
    text-decoration: none;
}












/* 最新消息 */
.latestnews-banner{
    width: 960px;
    margin: auto;
    padding: 40px 0 60px;
}
.latestnews-banner .latestnews > h2{
    width: 960px;
    font-size: 42px;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    font-weight: 900;
    color: #6f7ea2;
}

.latestnews-banner .latestnews > p{
    width: 960px;
    margin: auto;
    padding: 20px 0px 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #6f7ea2;
}
.latestnews-banner .wrap{
    width: 100%;
    display: flex;
}
.latestnews-banner .item{
    width: 25%;
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.latestnews-banner .item img{
    width: 100%;
    /* 圖片定中間 */
    vertical-align: middle;
    border-radius: 25%;
}
.latestnews-banner .item .txt{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: #82cddb;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: .2;
    transition: opacity .5s;
    border-radius: 25%;
    line-height: 1.5em;
}

.latestnews-banner .item:hover .txt{
    opacity: 1;
    border-radius: 25%;
}
.latestnews-banner .item .txt h3{
    font-size: 28px;
    color: #fff;
    font-weight: 900;
    text-align: center;
}
.latestnews-banner .item .txt span{
    font-size: 16px;
    font-weight: 700;
}
.latestnews-banner .item .txt h3:after{
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    margin: 10px 0;
    background-color: #fff;
    transition: width .5s .5s;
}
.latestnews-banner .item .txt:hover h3::after{
    width: 100%;
}
.latestnews-banner .item .txt p{
    font-style: 18px;
    color: #fff;
    font-weight: 100;
    margin-bottom: 10px;
}
.latestnews-banner .item .txt a{
    line-height: 30px;
    border: 2px solid #f19dae;
    padding: 0 15px;
    align-self: flex-end;
    /* 底線拿掉 */
    text-decoration: none;
    border-radius: 200px;
    /* 齊頭 */
    margin-top: 0px;
    color: #f19dae;
    background-color: #fff;
    box-shadow:0px 0px 3px #f19dae;
    font-family: tahoma;
}
.latestnews-banner .item .txt a:hover{
    border: 2px solid #ffff;
    background-color: #f19dae;
    color: #fff;
}






/* 常見問題 */
.problem-banner{
    width: 960px;
    margin: auto;
    padding: 40px 0 60px;
}
.problem-banner .problem > h2{
    width: 960px;
    font-size: 42px;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    font-weight: 900;
    color: #6f7ea2;
}

.problem-banner .problem > p{
    width: 960px;
    margin: auto;
    padding: 20px 0px 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #6f7ea2;
}
.problem-banner .wrap{
    margin: auto;
    margin-bottom: 30px;

}
.problem-banner .txt{
    margin: 10px auto ;
    width: 960px;
    box-sizing: border-box;
    height: 60px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #6f7ea2;
    text-decoration: none;
    overflow: hidden;
    /* 動畫時間 */
    /* transition: 屬性,轉換時間 延遲執行的時間 速度; */
    transition:  1s ;
    display: inline-block;
}
.problem-banner .txt:hover:nth-child(1){
    height: 700px;
}
.problem-banner .txt:hover:nth-child(2){
    height: 1300px;
}
.problem-banner .txt:hover:nth-child(3){
    height: 150px;
}
.problem-banner .txt:hover:nth-child(4){
    height: 150px;
}
.problem-banner .txt:hover:nth-child(5){
    height: 950px;
} 
.problem-banner .txt h3{
    border-bottom: 1px solid #6f7ea2;
    padding-bottom: .3em;
    margin-bottom: .4em;
    /* 字體粗細 */
    font-weight: 900;
    color: #fbca4d;
    font-size: 18px;
    transition: 1s;
}
.problem-banner .txt:hover h3{
    color: #fff;
    background-color: #fbca4d;
}
.problem-banner .txt:hover span{
    color: #fff;
}
.problem-banner .txt span{
    font-weight: 900;
    color: #fbca4d;
    font-size: 32px;
    transition: .4s;
}
.problem-banner .txt P{
    line-height: 1.5em;
    color: #6f7ea2;
    font-style: 18px;
    font-weight: 100;
    margin-bottom: 10px;
}
.problem-banner .txt img{
    width: 100%;
}
.problem-banner .txt h4{
    border-bottom: 1px solid #6f7ea2;
    /* padding-bottom: .3em; */
    margin-bottom: .4em;
    /* 字體粗細 */
    font-weight: 600;
    color: #fbca4d;
    font-size: 21px;
    line-height: 2.5em;
}



/* 裝飾線條 */
.decorate{
    position: relative;
}
.decorate .pink-circle{
    position: absolute;
    top: 2400px;
    left: 180px;
    right: 0;
    bottom: 0px;
    z-index: 1;
    transform: rotate(150deg);
    opacity: .7;
}

.decorate .blue-circle{
    position: absolute;
    top: 1300px;
    left: 1250px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    transform: rotate(250deg);
}
.decorate .blue-triangle{
    position: absolute;
    top: 2900px;
    left: 170px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    transform: rotate(340deg);
}