
/* 最新消息 */
.latestnews-banner{
    width: 960px;
    margin: auto;
    padding: 40px 0 60px;
}
.latestnews-banner .latestnews > h2{
    width: 960px;
    font-size: 42px;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    font-weight: 900;
    color: #6f7ea2;
}

.latestnews-banner .latestnews > p{
    width: 960px;
    margin: auto;
    padding: 20px 0px 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #6f7ea2;
}
.latestnews-banner .wrap{
    width: 100%;
    display: flex;
}
.latestnews-banner .container{
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.latestnews-banner .item{
    width: 400px;
    display: flex;
    background-color: rgba(255, 255, 255, .6);
    /* 陰影 */
    box-shadow: 0 0 20px #ccc;
    font-family: 'Noto Sans TC', sans-serif;
    margin: 25px 20px;
    padding: 10px;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
}
.latestnews-banner .item a{
    display: flex;
    text-decoration: none;
}
.latestnews-banner .item .pic{
    width: 50%;
    overflow: hidden;
}
.latestnews-banner .item .pic img{
    width: 100%;
    height: 100%;
    /* 圖片變形可使用 */
    object-fit: cover;
    border-radius: 25px;
}
.latestnews-banner .item .txt{
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.latestnews-banner .item .txt h3{
    font-size: 18px;
    color: #fbca4d;
    font-weight: 700;
    text-align: center;
}
.latestnews-banner .item .txt h3:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background-color: #fbca4d;
}
.latestnews-banner .item a .txt span{
    font-size: 16px;
    font-weight: 400;
}
.latestnews-banner .item a .txt p{
    font-weight: 300;
    line-height: 1.4em;
    color: #6f7ea2;
}
.latestnews-banner .item .tab{
    width: 20px;
    background-color: #82cddb;
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: -10px;
    top: 20px;
    box-shadow: 0 0 20px #ccc;
    z-index: 2;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.latestnews-banner .item .tab:after{
    content:'';
    position: absolute;
    left:0;
    top: 100%;
    width: 0;
    height: 0;
    border-top: 10px solid #4a757c;
    border-left: 10px solid #0000;
}
.latestnews-banner .item .icon-heart1{
    background-color: transparent;
    /* 破格 */
    font-size: 65px;
    color:#fff;
    position: absolute; 
    top: -40px;
    right: 20px;
    transform:rotate(5deg);
    opacity: 0;
}
.latestnews-banner .item .icon-heart2{
    background-color: transparent;
    /* 破格 */
    font-size: 55px;
    color:#fff;
    position: absolute; 
    left: -20px;
    bottom: -20px;
    transform:rotate(-15deg);
    /* display: none; */
    opacity: 0;
}
.latestnews-banner .item:hover .icon-heart1{
    animation: heartbeat1 .8s linear infinite alternate;
    /* display: block; */
    color:#f19dae;
    opacity: 1;
    transition:1s;
}
.latestnews-banner .item:hover .icon-heart2{
    animation: heartbeat2 .8s linear infinite alternate;
    /* display: block; */
    color:#f19dae;
    opacity: 1;
    transition:1s;
}
/* 動畫 */
@keyframes heartbeat1{
    0%{ transform: rotate(-15deg);}
    100%{ transform: rotate(15deg);}
}
@keyframes heartbeat2{
    0%{ transform: rotate(-25deg);}
    100%{ transform: rotate(-5deg);}
}


/* 最新消息 蓋板 */
#newBox{
    display: none;
}
 html .nowBox-group{
    background-color: rgba(255, 255, 255, .5);
    position: fixed;
    z-index: 51;
    /* 要大於 header nav:z-index: 50; */
}
.nowBox-group{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
/* icon */
.nowBox-group .icon{
    height: 30px;
    position: relative;
}
.nowBox-group .icon i{
    font-size: 24px;
    cursor: pointer;
    color: #6f7ea2;
}
.nowBox-group .icon i:hover{
    font-size: 26px;
    color: #fbca4d;
}
.nowBox-group .icon-right{
    float: right;
}
/* 內文 */
.page-banner .page-class{
    width: 650px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 0   0   60px #ddd;
    /* 毛玻璃 */
    backdrop-filter: blur(5px);
    /* display: flex; */
    padding: 30px;
    box-sizing: border-box;
    /* flex-wrap: wrap; */
}
.page-banner .item-class{
    display: flex;
    align-items: center;
    font-family: 'Noto Sans TC', sans-serif;
}
.page-banner .item-class .classTxt{
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    line-height: 1.5em;
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
}
.page-banner .item-class .classTxt h5{
    width:100%;
    font-size: 28px;
    margin: auto;
    font-weight: 500;
    color: #fbca4d;
    transition: .6s;
    text-align: center;
    line-height: 2em;
    margin-bottom: 30px;
}
.page-banner .item-class .classTxt h5:after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin: 10px 0;
    background-color: #fbca4d;
    align-items: center;
}
.page-banner .item-class .classTxt p{
    /* line-height: 1.5em; */
    color: #6f7ea2;
    line-height: 33px;
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    
}
.page-banner .item-class .classTxt span{
    font-size: 18px;
    /* 文字外框 */
    -webkit-text-stroke: 2px #fbca4d;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
}
.page-banner .item-class .classTxt h6{
    color: #fbca4d;
    font-size: 18px;
    letter-spacing: .2em;
}
