
/* 麵包屑.path */
.path-wrap{
    padding: 10px 0;
    background-color: #fff0;
    /* 陰影 */
    box-shadow: 0px 5px 5px hsla(260,100% 20% 5);
}
.path{
    display: flex;
    width: 960px;
    margin: auto;
}
.path li{
    position: relative;
    padding: 0 20px;
}
.path li a{
    color: #6f7ea2;
    text-decoration: none;
    font-size: 14px;
}
.path li + li::before{
    /* 偽類 */
    content: '>';
    color: #6f7ea2;
    position: absolute;
    left: 0;
}
.path a:hover, .breadcrumb li:last-child a{
    color: #fff;
}
.path li:after{
    content: '';
    display: block;
    width: 0%;
    height: 1.5em;
    margin: 5px 0;
    background-color: #f19dae;
    transition: width .5s ;
    position: absolute;
    top: -8px;
    right: 0;
    left: 15px;
    bottom: 0;
    z-index: -1;

}
.path li:hover::after{
    width: 75%;
}




/* 公用==================================== */

.base-banner{
    width: 960px;
    margin: auto;
    padding: 40px 0 60px;
}
.base-banner .base > h2{
    width: 960px;
    font-size: 42px;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    font-weight: 900;
    color: #6f7ea2;
}

.base-banner .base > p{
    width: 960px;
    margin: auto;
    padding: 20px 0px 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #6f7ea2;
}
.base-banner .wrap{
    width: 960px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 0   0   60px #ddd;
    /* 毛玻璃 */
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 60px 30px 60px;
    margin-bottom: 60px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.base-banner .item{
    display: flex;
    align-items: center;
    /* item底部(等同於與其他item)拉開距離 */
    margin-bottom: 60px;
    font-family: 'Noto Sans TC', sans-serif;
}
.base-banner .item:nth-child(even){
    flex-direction: row-reverse;
    /* 對調 */
}
.base-banner .item .txt h3{
    width:100%;
    font-size: 28px;
    /* text-align: center; */
    padding: 10px 0;
    margin: auto;
    font-weight: 500;
    color: #fbca4d;
    transition: .6s;
    text-align: center;
}

.base-banner .item p{
    font-weight: 200px;
    line-height: 1.5em;
    font-size: 16px;
}
.base-banner .item span{
    font-weight: 200px;
    line-height: 1.5em;
    font-size: 21px;
}
.base-banner .item .txt h3:after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin: 10px 0;
    background-color: #fbca4d;
    align-items: center;
}

.base-banner .item .pic{
    width: 40%;

}
.base-banner .item .pic img{
    width: 100%;
    /* 基線 */
    vertical-align: middle;
    border-radius: 25px;
    box-shadow: 0px 5px 5px rgba(0 , 0, 0, .1);
}
.base-banner .item .txt{
    width: 60%;
    flex-shrink: 0;
    padding: 0 30px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    color: #6f7ea2;
}


/* 作品展示================================== */
.base-banner .item-carousel{
    display: flex;
    align-items: center;
    position: relative;
}
.base-banner #carousel{
	/* div外層 */
	margin: 100px auto;
	/* border: 5px dashed #aaa; */
    background-color: transparent;
    box-shadow:0 0 15px 0 rgba(0,0,0,0.3) inset; 
	/* li多大div就設定多大的盒子 */
	width: 640px;
	height: 200px;

	overflow: hidden;
    position: relative;
}
.base-banner #carousel ul{ 
	width: 1540px;
	position: relative;
	animation: move-pic 15s infinite; 
    z-index: -2;

}
.base-banner #carousel li{
	width: 200px;
	height: 200px;
	float: left;
    margin-right:20px;
    /* display: none; */
}
.base-banner #carousel li img{
    width: 100%;
    /* display: none; */

}

@keyframes move-pic {
	5%{left: 0px}
	20%{left: -220px}
	35%{left: -440px}
	50%{left: -660px}
	65%{left: -440px}
	80%{left: -220px}
	95%{left: 0px}
}
canvas{
    position: absolute;
    /* border: 1px solid #ccc; */
    z-index: -1;
} 


/* icon動畫 */
.base-banner .item-carousel .icon-move1{
    animation: iconMove .8s linear infinite alternate;
    color:#f19dae;
    transition:1s;
    background-color: transparent;
    font-size: 45px;
    position: absolute; 
    right: -70px;
    bottom: 45px;
}
.base-banner .item-carousel .icon-move2{
    animation: iconMove .8s linear infinite alternate;
    color:#f19dae;
    transition:1s;
    background-color: transparent;
    font-size: 45px;
    position: absolute; 
    left: -80px;
    bottom: 80px;
}

/* 動畫 */
@keyframes iconMove{
    0%{ transform: rotate(5deg);}
    100%{ transform: rotate(25deg);}
}


/* 課程資訊 ===============================================*/
.base-banner .wrap-class{
    width: 960px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 0   0   60px #ddd;
    /* 毛玻璃 */
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 60px 40px 60px;
    margin-bottom: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.base-banner .item-class{
    width: 960px;
    display: flex;
    align-items: center;
    font-family: 'Noto Sans TC', sans-serif;
}
.base-banner .item-class .classTxt{
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    line-height: 1.5em;
    position: relative;
}
.base-banner .item-class .classTxt h5{
    width:100%;
    font-size: 28px;
    /* text-align: center; */
    padding: 10px 0;
    margin: auto;
    font-weight: 500;
    color: #fbca4d;
    transition: .6s;
    text-align: center;
    line-height: 2em;
    margin-bottom: .5em;
}
.base-banner .item-class .classTxt h5:after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin: 10px 0;
    background-color: #fbca4d;
    align-items: center;
}
.base-banner .item-class .classTxt p{
    /* line-height: 1.5em; */
    color: #6f7ea2;
}
.base-banner .item-class .classTxt span{
    font-size: 24px;
    /* 文字外框 */
    -webkit-text-stroke: 2px #fbca4d;
    -webkit-text-fill-color: transparent;
}
.base-banner .item-class .classTxt h6{
    color: #fbca4d;
    font-size: 18px;
    letter-spacing: .2em;
}
.base-banner .item-class .classTxt img{
    width: 30%;
    border-radius: 50%;
    position: absolute;
    left: 580px;
    right: 0;
    top: 128px;
    box-shadow: 0px 5px 5px rgba(0 , 0, 0, .2);
}

/* 星空======================================== */
.star-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}
.comparison{
    --image:url(../../images/raiders/star/movie.jpg);
    --height: 500px;
    width: 800px;
    height: var(--height);
    position: relative;
    overflow: hidden;
    box-shadow:0px 2px 6px rgba(0, 0, 0, .5);
    border-radius: 50px;
}
.comparison::before,
.comparison::after{
    content: '';
    display: block;
    /* 繼承父層設定 */
    width: inherit;
    height: inherit;
    background-image: var(--image);
    /* 使背景圖片符合設定 */
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.comparison::before{
    background-image: url(../../images/raiders/star/pm.jpeg);
}
.comparison::after{
    /* 遮罩 */
    clip-path: inset(0 0 0 calc(var(--slide) / 10 * 1%));
}
.comparison .slider{
    position: absolute;
    top: 0;
    left: 0;

    /* 設定樣式 */
    appearance: none;
    outline: none;
    margin: 0;
    background: transparent;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.comparison .slider::-webkit-slider-thumb{
    appearance: none;
    width: 14px;
    height: var(--height);
    background-color: #fff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, .5);
    border-radius: 25px;
    /* 滑鼠游標 */
    cursor: ew-resize;
}
/* 分頁設定 */
.wrap-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 40px;
}
.panel-group .content{
    width: 0;
    height: 0;
    overflow: hidden;
    padding: 20px;
    opacity: 0;
    display: flex;
    align-items: center;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 0 0 60px #ddd;
    /* 毛玻璃 */
    backdrop-filter: blur(5px);
}
.panel-control:checked + label{
    background-color: #fff;
    
}
.panel-control:checked + label + .content{
    display: block;
    width: 100%;
    height: auto;
    border: 2px solid #82cddb;
    opacity: 1;
    transition: opacity 1s;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: 2;
}
.panel-group{
    display: flex;
    /* flex-direction 和 flex-wrap 是一個階層關係 */
    flex-flow: row wrap;
}
.panel-group input{
    position: absolute;
    opacity: 0;
}
.panel-group label{
    /* 以數字設定區塊的前後順序 */
    order: -1;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid #82cddb;
    border-bottom: none;
    margin-right: 10px;
    background-color: #82cddb;
    position: relative;
    bottom: -2px;
    z-index: 3;
    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.panel-group label[for="radio5"]{
    border: 3px solid #fbca4d;
    background-color: #fbca4d;
    border-bottom: none;
    bottom: -3px;
    z-index: 4;
}
.panel-control:checked + label[for="radio5"]{
    background-color: #fff;
}
.panel-control:checked + label[for="radio5"] + .content{
    border: 3px solid #fbca4d;
    z-index: 3;
}

.wrap-panel .panel-group .label-p{
    font-weight: 200px;
    font-size: 16px;
    font-family: Tahoma;
    color: #fff;
}
.panel-control:checked + .label-p{
    color: #6f7ea2;
    font-size: 18px;
}

/* 內文 */
/* 注意事項 */
.panel-group .content .item{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.panel-group .content .classTxt{
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    line-height: 1.5em;
    position: relative;
}
.panel-group .content .classTxt h5{
    width:100%;
    font-size: 28px;
    /* text-align: center; */
    padding: 10px 0;
    margin: auto;
    font-weight: 500;
    color: #fbca4d;
    transition: .6s;
    text-align: center;
    line-height: 2em;
    margin-bottom: .5em;
}
.panel-group .content .classTxt h5:after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin: 10px 0;
    background-color: #fbca4d;
    align-items: center;
}
.panel-group .content .classTxt p{
    /* line-height: 1.5em; */
    color: #6f7ea2;
}
.panel-group .content .classTxt span{
    font-size: 24px;
    /* 文字外框 */
    -webkit-text-stroke: 2px #fbca4d;
    -webkit-text-fill-color: transparent;
}
.panel-group .content .classTxt h6{
    color: #fbca4d;
    font-size: 18px;
    letter-spacing: .2em;
}
.panel-group .content .classTxt img{
    width: 30%;
    border-radius: 50%;
    position: absolute;
    left: 530px;
    right: 0;
    top: 120px;
    box-shadow: 0px 5px 5px rgba(0 , 0, 0, .2);
}








/* 三大保證======================================= */

.ensure-banner{
    width: 960px;
    margin: auto;
    padding: 40px 0 60px;
}
.ensure-banner .ensure > h2{
    width: 960px;
    font-size: 42px;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    font-weight: 900;
    color: #6f7ea2;
}

.ensure-banner .ensure> p{
    width: 960px;
    margin: auto;
    padding: 20px 0px 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #6f7ea2;

}

.ensure-banner .wrap{
    display: flex;
    width: 960px;
    margin: auto;
    padding-top: 75px;
}
.ensure-banner .item{
    width: 370px;
    margin: 0 15px;
    text-align: center;
    background-color:transparent;
    border-radius: 20px;
}
.ensure-banner .item h3{
    color:#f5afac;
    padding-bottom: .3em;
    margin-bottom: .4em;
    /* 字體粗細 */
    font-weight: 900;
    font-size: 28px;
    font-family: Tahoma;
}
.ensure-banner .item p{
    color: #6f7ea2;
    font-family: Tahoma;
}
.ensure-banner .item .icon{
    width: 150px;
    height: 150px;
    background-color: transparent;
    /* 破格 */
    margin: -75px auto 0;
    font-size: 85px;
    line-height: 150px;
    border-radius: 50%;
    color:#f5afac;
    position: relative;
}
.ensure-banner .item .icon::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-top: 10px solid #f9cec2;
    border-right: 10px solid #f9cec2;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;

    left: -10px;
    top: -10px;
    border-radius: 50%;
    transform: rotate(-45deg);
}
.ensure-banner .item:hover i{
    animation: nesure3 .5s linear infinite alternate;
}
.ensure-banner .item .txt{
    padding: 20px 20px 2em;
}
/* 動畫 */
@keyframes nesure3{
    0%{ transform: rotate(-10deg);}
    100%{ transform: rotate(10deg);}
}


