/* 麵包屑.path */
.path-wrap{
    padding: 10px 0;
    background-color: #fff0;
    /* 陰影 */
    box-shadow: 0px 5px 5px hsla(260,100% 20% 5);
}
.path{
    display: flex;
    width: 960px;
    margin: auto;
}
.path li{
    position: relative;
    padding: 0 20px;
}
.path li a{
    color: #6f7ea2;
    text-decoration: none;
    font-size: 14px;
}
.path li + li::before{
    /* 偽類 */
    content: '>';
    color: #6f7ea2;
    position: absolute;
    left: 0;
}
.path a:hover, .breadcrumb li:last-child a{
    color: #fff;
}
.path li:after{
    content: '';
    display: block;
    width: 0%;
    height: 1.5em;
    margin: 5px 0;
    background-color: #f19dae;
    transition: width .5s ;
    position: absolute;
    top: -8px;
    right: 0;
    left: 15px;
    bottom: 0;
    z-index: -1;

}
.path li:hover::after{
    width: 75%;
}


/* 牧場攻略 */
.raiders-banner{
    width: 960px;
    margin: auto;
}
.raiders-banner .raiders{
    padding: 30px 0;
}
.raiders-banner .raiders > h2{
    width: 960px;
    font-size: 42px;
    text-align: center;
    margin: auto;
    font-weight: 900;
    color: #6f7ea2;
}

.raiders-banner .raiders> p{
    width: 960px;
    margin: auto;
    padding: 20px 0px 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #6f7ea2;
}

.raiders-banner .wrap{
    width: 960px;
    margin: auto;
}
.raiders-banner .item{
    display: flex;
    align-items: center;
    /* item底部(等同於與其他item)拉開距離 */
    margin-bottom: 140px;
    font-family: 'Noto Sans TC', sans-serif;
}

.raiders-banner .item .txt h3{
    width:100%;
    font-size: 34px;
    /* text-align: center; */
    padding: 10px 0;
    margin: auto;
    font-weight: 500;
    color: #6f7ea2;
    transition: .6s;
    text-align: center;
}
.raiders-banner .item:hover .txt h3{
    color: #fff;
}
.raiders-banner .item p{
    font-weight: 200px;
    line-height: 1.5em;
}
.raiders-banner .item .txt h3:after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    margin: 10px 0;
    background-color: #6f7ea2;
    transition: .6s;
    align-items: center;
}
.raiders-banner .item:hover .txt h3:after{
    background-color: #fff;
}
.raiders-banner .item .pic{
    width: 55%;
}
.raiders-banner .item .pic img{
    width: 100%;
    /* 基線 */
    vertical-align: middle;
    border-radius: 25px;
}
.raiders-banner .item .txt{
    width: 55%;
    flex-shrink: 0;
    padding: 40px 30px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    border-radius: 25px;
    opacity: .6;
    transition: .6s;
}
.raiders-banner .item:hover .txt{
    color: #fff;
    opacity: 1;
}
.raiders-banner .item > :first-child{
    margin-right: -10%;
}
.raiders-banner .item:nth-child(1) .txt{
    background-color: #fbca4d;
}
.raiders-banner .item:nth-child(2) .txt{
    background-color: #82cddb;
}
.raiders-banner .item:nth-child(3) .txt{
    background-color: #f19dae;
}
.raiders-banner .item:nth-child(4) .txt{
    background-color: #fbca4d;
}
.raiders-banner .item:nth-child(5) .txt{
    background-color: #82cddb;
}
.raiders-banner .item:nth-child(6) .txt{
    background-color: #f19dae;
}
.raiders-banner .item .txt .btn{
    line-height: 1.5em;
    border: 1px solid #f19dae;
    padding: 0 1em;
    align-self: flex-end;
    /* 底線拿掉 */
    text-decoration: none;
    border-radius: 200px;
    /* 齊頭 */
    margin-top: 50px;
    color: #f19dae;
    background-color: #fff;
    box-shadow:0px 0px 3px #f19dae;
    margin-left: 392px;
    margin-top: 10px;
}
.raiders-banner .item .txt .btn:hover{
    background-color: #f19dae;
    color: #fff;
    border: 1px solid #fff;
}









